body {
    background-color: rgb(26, 117, 26);
}

.chips {
    background-color: rgb(234, 191, 134);
    outline: 5px solid brown;
    display: flex;
    width: 39vmin;
    gap: 1vmin;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1%;
    padding: 10px;
}

.chip {
    width: 7vmin;
    height: 7vmin;
    border-radius: 50px;
    text-align: center;
    line-height: 7vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chip:hover {
    cursor: pointer;
}

.chip-1 {
    background-color: rgb(41, 172, 179)
}

.chip-5 {
    background-color: rgb(80, 151, 213);
}

.chip-10 {
    background-color: blanchedalmond;
}

.chip-25 {
    background-color: rgb(221, 87, 87);
}

.chip-50 {
    background-color: rgb(192, 221, 87);
}

.chip-100 {
    background-color: rgb(107, 221, 87);
}

.chip-250 {
    background-color: rgb(221, 87, 197);
}

.chip-500 {
    background-color: rgb(209, 62, 160);
}

.chip-1000 {
    background-color: rgb(0, 0, 0);
    color: white;
}

.chip-cancel {
    background-color: red;
}

.chip-selected {
    outline: 2px solid black
}