body {
    background-color: rgb(26, 117, 26);
    margin: 0;
}

.chips {
    background-color: rgb(234, 191, 134);
    outline: 5px solid brown;
    display: flex;
    width: 39vmin;
    gap: 1vmin;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1%;
    padding: 10px;
    margin-left: 10px;
}

.chip {
    width: 7vmin;
    height: 7vmin;
    border-radius: 50px;
    text-align: center;
    line-height: 7vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chip:hover {
    cursor: pointer;
}

.chip-1 {
    background-color: rgb(41, 172, 179)
}

.chip-5 {
    background-color: rgb(80, 151, 213);
}

.chip-10 {
    background-color: rgb(255, 235, 205);
}

.chip-25 {
    background-color: rgb(221, 87, 87);
}

.chip-50 {
    background-color: rgb(192, 221, 87);
}

.chip-100 {
    background-color: rgb(107, 221, 87);
}

.chip-250 {
    background-color: rgb(221, 87, 197);
}

.chip-500 {
    background-color: rgb(209, 62, 160);
}

.chip-1000 {
    background-color: rgb(0, 0, 0);
    color: white;
}

.chip-cancel {
    background-color: red;
}

.chip-selected {
    outline: 2px solid black;
}

.chip-selected:is(.chip-1000) {
    outline: 2px solid white;
}

.chip-selected:is(.chip-cancel) {
    outline: none;
}

.bets {
    position: absolute;
    bottom: 20%;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-bet {
    background-color: rgba(25,25,25,0.3);
    outline: 2px dashed black;
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bet:hover {
    cursor: pointer;
}

.main-chip {
    width: 14vmin;
    height: 14vmin;
    border-radius: 14vmin;
    text-align: center;
    line-height: 14vmin;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.side-bet {
    background-color: rgba(25,25,25,0.3);
    outline: 2px dashed black;
    width: 12vmin;
    height: 12vmin;
    border-radius: 12vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bet:hover {
    cursor: pointer;
}

.side-chip {
    width: 8vmin;
    height: 8vmin;
    border-radius: 8vmim;
    text-align: center;
    line-height: 8vmin;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}