body {
    background-color: rgb(26, 117, 26);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chips {
    background-color: rgb(234, 191, 134);
    outline: 5px solid brown;
    display: flex;
    width: 39vmin;
    gap: 1vmin;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1%;
    padding: 10px;
    margin-left: 10px;
}

.chip {
    width: 7vmin;
    height: 7vmin;
    border-radius: 50px;
    text-align: center;
    line-height: 7vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chip:hover {
    cursor: pointer;
}

.chip-1 {
    background-color: rgb(41, 172, 179)
}

.chip-5 {
    background-color: rgb(80, 151, 213);
}

.chip-10 {
    background-color: rgb(255, 235, 205);
}

.chip-25 {
    background-color: rgb(221, 87, 87);
}

.chip-50 {
    background-color: rgb(192, 221, 87);
}

.chip-100 {
    background-color: rgb(107, 221, 87);
}

.chip-250 {
    background-color: rgb(221, 87, 197);
}

.chip-500 {
    background-color: rgb(209, 62, 160);
}

.chip-1000 {
    background-color: rgb(0, 0, 0);
    color: white;
}

.chip-cancel {
    background-color: red;
}

.chip-selected {
    outline: 2px solid black;
}

.chip-selected:is(.chip-1000) {
    outline: 2px solid white;
}

.chip-selected:is(.chip-cancel) {
    outline: none;
}

.bets {
    position: absolute;
    bottom: 20%;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    transition-duration: 1s;
}

.main-bet {
    background-color: rgba(25,25,25,0.3);
    outline: 2px dashed black;
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.main-bet:hover {
    cursor: pointer;
}

.main-chip {
    width: 14vmin;
    height: 14vmin;
    border-radius: 14vmin;
    text-align: center;
    line-height: 14vmin;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.side-bet {
    background-color: rgba(25,25,25,0.3);
    outline: 2px dashed black;
    width: 12vmin;
    height: 12vmin;
    border-radius: 12vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bet:hover {
    cursor: pointer;
}

.side-chip {
    width: 8vmin;
    height: 8vmin;
    border-radius: 8vmin;
    text-align: center;
    line-height: 8vmin;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.action-buttons {
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: flex;
}

.action-buttons > div {
    display: flex;
}

.action-buttons > .game-buttons {
    width: 22vmin;
    flex-wrap: wrap;
}

.action-buttons > * > .green {
    background-color: rgb(32, 209, 32);
}

.action-buttons > * > .red {
    background-color: rgb(200, 43, 43);
}

.action-buttons > * > .orange {
    background-color: orange;
}

.action-buttons > * > .blue {
    background-color: rgb(78, 78, 255);
}

.action-buttons > * > * {
    height: 7vmin;
    width: 10vmin;
    border-radius: 3vmin;
    border: none;
    color: black;
    transition-duration: 0.5s;
    text-align: center;
    line-height: 7vmin;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.action-buttons > * > *:hover {
    cursor: pointer;
    filter: brightness(90%);
    transform: scale(1.05);
}

.hidden {
    display: none !important;
}

.dealer-hand {
    /* background-color: rgba(25,25,25,0.3);
    outline: 1px solid red; */
    height: 30vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.client-hand {
    /* background-color: rgba(25,25,25,0.3);
    outline: 1px solid red; */
    height: 30vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.cards p {
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color:rgb(224, 254, 254);
    width: 20vh;
    height: 100%;
    border-radius: 10px;
    font-weight: bold;
}

.dealer-hand > .red, .client-hand > .red {
    color: red;
}

.tl {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.br {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.m {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
    margin: auto;
    font-size: 40px;
}